.navbar-brand{
  img{
    width:65px;
  }
}

#menu-menu-1, #menu-menu-2{
  li a, .nav  li a{
    font-weight: bold;
    text-transform: uppercase;
    border:2px solid transparent;
    padding:5px 20px;
    margin:0px 5px;
    font-size:12px;
  }

  a:hover, .menu-item-138 a{
    border:2px solid #5a5a5a;
  }
  .menu-item-138 a:hover{
    .menu-image-title{
      color:#FFF !important;
    }
    color:#FFF !important;
    background:#5a5a5a;
  }

  a.dropdown-item{
    border:none;

    &:hover{
      background: none !important;
      a{
        background: none !important;
      }
    }
  }

  .font-orange:hover a .menu-image-title{
    color:$orange !important;
  }
  .font-red:hover a .menu-image-title{
    color:$red !important;
  }
  .font-blue:hover a .menu-image-title{
    color:$blue !important;
  }
}

#menu-menu-2{

}
