.hero{
  background-image:url('img/product-bubbles-bg.jpg');
  background-position: top left;
  background-size: cover;
  height:900px;


  h1{
    font-weight: bold;
    text-align: center;
  }

  .smallbubbles{
    position: absolute;
    right:-20px;
    top:100px;
    height:900px;
    z-index: 99;
    img{
      height:100%;
    }
  }

  .p-bubble{
    position: relative;


    img{
      width:150%;
    }
  }

  .p-bubble-1{
    margin-top:15%;
    z-index: 9999;
    transform-origin: 60% 15%;
  }
  .p-bubble-2{
    margin-top:35%;
    transform-origin: 50% 35%;
    z-index: 9;
  }

  .p-bubble-3{
    margin-top:15%;
    transform-origin: 50% 50%;
    img{
      height:70%;
      width: auto;
    }
  }
}


.product-details{
  img{
    width:100%;
  }

  h2{
    font-weight: bold;
  }

  .quote{
    position: absolute;
    font-size:80px;
    top:-40px;
  }
}


.columns{


  img{
    width:50%;
  }
}
