@media (min-width: 1700px) {
  h1, h1 p{
    font-size:52px !important;
  }

  #menu-menu-1 li a, #menu-menu-1 .nav li a, #menu-menu-2 li a, #menu-menu-2 .nav li a{
    font-size:16px;
  }

  .btn{
    font-size:16px;
  }

  .navbar-brand img{
    width:80px;
  }

  h2{
    font-size: 2rem !important;
  }

  p{
    font-size: 1rem !important;
  }

  .buy .product img{
    width:230%;
    left:-80%;
  }
}
//IPAD LANDSCAPE
@media (min-width: 769px) and (max-width: 1024px) {
  .graphic .bubble-layer img, .graphic .fruit-layer img{
    top:55%;
  }

  h1{
    font-size:26px;
  }

  .buy .product img{
    width:100%;
    left:0%;
  }

  .hero .smallbubbles img{
    height:80%;
  }
  .fixed-top{
    z-index: 99999999999;
    padding:10px 20px;
  }

}
//IPAD PORTRAIT

@media (min-width: 481px) and (max-width: 1023px) {
  .graphic .bubble-layer img, .graphic .fruit-layer img{
    top:50%;
  }

  h1{
    font-size:20px;
  }

  .buy .product img{
    width:175%;
    left:-50%;
  }

  .blog{
    overflow: hidden;
  }

  .s-slider .shop-holder, .s-slider .shop-charge, .s-slider .shop-dream, .s-slider .shop-boost{
    background-position: 30% center;
  }

  .headline{
    padding-left:0px !important;
  }

  .bubble{
    margin-left:-100px;
  }

  .s-slider .blue{
    background-position: 50% center !important;
  }
  .fixed-top{
    z-index: 99999999999;
    padding:10px 20px;
  }
}

@media (max-width: 480px){
  .head{
    height:auto;
    padding-top:150px;
  }
  section{
    height:auto;
  }

  h1{
    font-size:22px;
  }

  .pl-xs-2{
    padding-left:15px;
    padding-right:15px;
  }
  .graphic{
    padding-top:50px;
    height:400px;
  }
  .graphic .fruit-layer{
    position: relative !important;
  }
  .graphic .bubble-layer img, .graphic .fruit-layer img{
    top:0px;
    transform: translateY(0);
  }
  .py-xs-4{
    padding-top:20px;
    padding-bottom:20px;
  }
  .bubbles-pop{
    height: 775px;

  }
  .s-slider .shop-holder{
    background-position: 60% 120%;
    background-size: 300%;
    background-repeat: no-repeat;
  }
  .s-slider .shop-holder .blue{
    background-position: 30% 120%;
  }
  .left-80{
    margin-left:-80px !important;
  }
  .left-0{
    margin-left:0px !important;
  }
  .left-38{
    margin-left:-80px !important;
  }
  .left-65{
    margin-left:-60px !important;
    margin-top:-30px !important;

  }
  .left-30{
    margin-top:-150px !important;
    margin-left:20px !important;
  }
  .shop-holder{
    padding-top:20px;
  }
  .bubble{
    margin-left:-30px;
  }
  .hero{
    padding-top:200px;
    height:auto !important;
  }
  .p-bubble-1 img{
    width:350% !important;
  }
  .p-bubble-2 img{
    width:430% !important;
  }
  .p-bubble-3 img{
    height:auto !important;
    width:100% !important;
    margin-left: 20px;
    margin-top: -50px
  }
  .hero .smallbubbles{
    position: absolute;
    right: -20px;
    top: -600px;
    height: 900px;
    z-index: 0;
  }
  .s-blog{
    min-height:300px !important;
  }
  .blog, .page-template-blog{
    .float-left, .float-right{
      float:none !important;;
    }
  }
  .fixed-top{
    z-index: 99999999999;
    padding:10px 20px;
  }
  .product-bubs .smallbubbles{
    display: none !important;
  }
}
