@media (min-width: 1700px) {
  h1, h1 p{
    font-size:52px !important;
  }

  #menu-menu-1 li a, #menu-menu-1 .nav li a, #menu-menu-2 li a, #menu-menu-2 .nav li a{
    font-size:16px;
  }

  .btn{
    font-size:16px;
  }

  .navbar-brand img{
    width:80px;
  }

  h2{
    font-size: 2rem !important;
  }

  p{
    font-size: 1rem !important;
  }

  .buy .product img{
    width:230%;
    left:-80%;
  }
}
//IPAD LANDSCAPE
@media (min-width: 769px) and (max-width: 1024px) {
  .graphic .bubble-layer img, .graphic .fruit-layer img{
    top:55%;
  }

  h1{
    font-size:26px;
  }

  .buy .product img{
    width:100%;
    left:0%;
  }

  .hero .smallbubbles img{
    height:80%;
  }

}
//IPAD PORTRAIT

@media (min-width: 481px) and (max-width: 1023px) {
  .graphic .bubble-layer img, .graphic .fruit-layer img{
    top:50%;
  }

  h1{
    font-size:22px;
  }

  .buy .product img{
    width:175%;
    left:-50%;
  }

  .blog{
    overflow: hidden;
  }

  .s-slider .shop-holder, .s-slider .shop-charge, .s-slider .shop-dream, .s-slider .shop-boost{
    background-position: 30% center;
  }

  .headline{
    padding-left:0px !important;
  }

  .bubble{
    margin-left:-100px;
  }

  .s-slider .blue{
    background-position: 50% center !important;
  }

}
