@media (min-width: 1700px) {
  h1{
    font-size:52px;
  }

  #menu-menu-1 li a, #menu-menu-1 .nav li a, #menu-menu-2 li a, #menu-menu-2 .nav li a{
    font-size:16px;
  }

  .btn{
    font-size:16px;
  }

  .navbar-brand img{
    width:80px;
  }
}
